@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300;500;700&display=swap');


/*글씨체*/

.font-nav {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px !important;
}

.font-nav-sub {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px !important;
    font-weight:400;
}


.font-content-bold {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}


.font-content-mid {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.font-content-thin {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.font-sub-title-gothic {
    background-color: #0062FF;
    color: white;
    font-family: 'Nanum gothic', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.font-sub-title2-gothic {
    font-family: 'Nanum gothic', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.font-content-gothic {
    font-family: 'Nanum gothic', sans-serif;
    font-size:17px;
    font-weight:400;
}

strong {
    color: #0062FF;
}


/*메인화면 텍스트 문구*/
.text-box {
    /*background-color:white;*/
    height: 550px;
    width: 1100px;
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: initial;
}
.text-box2 {
    /*background-color:white;*/
    height: 550px;
    width: 1100px;
    padding-top: 50px;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    text-align:right;
}
.text-box3 {
    /*background-color:white;*/
    height: 550px;
    width: 1100px;
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.background-box {
    
    height: 500px;
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-box {
    padding-top:50px;
    width:100%;
    height:475px;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
}

.content-box2 {
    width: 100%;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.space-box{
    width:auto;
    height:50px;
}
 

.sub-title{
    display:flex;
}


.img-p-flex{
    display:flex;
    margin-left:30px;
    margin-bottom:10px;
    margin-top:10px;
    align-items:center;
}

.img-size{
    width:250px;
    height:400px;
}

/*배경*/
.hero-section.full-width-main {
    padding-top: 100px;
    padding-bottom: 405px;
    background-image: url(../templetes/asc/img/core-img-asc/smart-factory.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section.full-width-main .special-head.dark {
    padding-left: 0
}

    .hero-section.full-width-main .special-head.dark:before {
        display: none;
    }



@media (max-width: 991px) {
    .hero-section.full-width-main {
        padding-bottom: 0px;
        background-image: url(../img/bg-img/header-bg3-min.png);
        background-position: top center;
        background-size: cover;
        padding-top: 0
    }

    .special-pb {
        padding-bottom: 100px
    }

    .welcome-content.spe {
        margin-top: 0 !important
    }
}

.hero-section.full-width-main2 {
    padding-top: 100px;
    padding-bottom: 405px;
    background-image: url(../templetes/asc/img/core-img-asc/ai-bg2.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .hero-section.full-width-main2 .special-head.dark {
        padding-left: 0
    }

        .hero-section.full-width-main2 .special-head.dark:before {
            display: none;
        }



@media (max-width: 991px) {
    .hero-section.full-width-main2 {
        padding-bottom: 0px;
        background-image: url(../img/bg-img/header-bg3-min.png);
        background-position: top center;
        background-size: cover;
        padding-top: 0
    }

    .special-pb {
        padding-bottom: 100px
    }

    .welcome-content.spe {
        margin-top: 0 !important
    }
}

.hero-section.full-width-main3 {
    padding-top: 100px;
    padding-bottom: 405px;
    background-color:black;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .hero-section.full-width-main3 .special-head.dark {
        padding-left: 0
    }

        .hero-section.full-width-main3 .special-head.dark:before {
            display: none;
        }



@media (max-width: 991px) {
    .hero-section.full-width-main3 {
        padding-bottom: 0px;
        background-image: url(../img/bg-img/header-bg3-min.png);
        background-position: top center;
        background-size: cover;
        padding-top: 0
    }

    .special-pb {
        padding-bottom: 100px
    }

    .welcome-content.spe {
        margin-top: 0 !important
    }
}