<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - ASC.Web</title>

    <!-- Favicon -->
    <link rel="icon" href="/templetes/asc/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/templetes/asc/css/style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="/templetes/asc/css/responsive.css">

    <!-- google font -->

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="~/css/asc.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f14917f0910d731df0126057fcf9e973"></script>
    <script>
        var container = document.getElementById('map1');
        var options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        };

        var map = new kakao.maps.Map(container, options);
    </script>

</head>




<body class="light-version">

    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container light breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar light justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand light" href="Home"><img src="/templetes/asc/img/core-img-asc/logo.png" alt="logo"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler demo">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li>
                                    <a href="#page1" class="font-nav">ABOUT</a>

                                </li>    
                                <li>
                                    <a href="#page2" class="font-nav">SERVICES</a>
                                    <ul class="dropdown">
                                        <li><a href="#page2_1" class="font-nav-sub">SMART FACTORY</a></li>
                                        <li><a href="#page2_2" class="font-nav-sub">설비예지보전</a></li>
                                        <li><a href="#page2_3" class="font-nav-sub">계획자동화</a></li>
                                        <li><a href="#page2_4" class="font-nav-sub">공정지능화</a></li>
                                        <li><a href="#" class="font-nav-sub">검사지능화</a></li>
                                        <li><a href="#" class="font-nav-sub">설계지능화</a></li>
                                    </ul>
                                  
                                </li>
                                <li><a href="#page3" class="font-nav">CONTACT</a></li>
                            </ul>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


    @RenderBody()

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img">

        <div class="footer-content-area mt-0">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-6 col-md-6">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#">(주)에이에스씨</a>
                                </div>
                                <p>
                                    AI SYSTEM CREATED
                                </p>
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-md-6 ">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5>CONTACT US</h5>
                                <p>고객센터:061-336-8445</p>
                                <p>대표이사:이형근</p>
                                <p>이메일:hglee@asc.kr</p>
                                <p>문의메일:dome0730@asc.kr</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="/templetes/asc/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="/templetes/asc/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/templetes/asc/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/templetes/asc/js/plugins.js"></script>
    <!-- Parallax js -->
    <script src="/templetes/asc/js/dzsparallaxer.js"></script>

    <script src="/templetes/asc/js/jquery.syotimer.min.js"></script>

    <!-- script js -->
    <script src="/templetes/asc/js/script.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
